.form-sec{
    margin-bottom: 30px;
}
.section-header{
    text-align: center;
    font-size: x-large;
}
.form-group{
    margin: 20px 14px;
}
.start-date{
    margin-bottom: 10px;
}
#edit{
    padding: 20px;
    border-radius: 130px;
    position: fixed;
    bottom: 2vh;
    right: 3vh;
}